#main {text-align: center;}

.image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

 #info {
     text-align: center;
 }

 .basic_information{
     font-family: "Monaco"
 }

 .committee_title {
     text-decoration: underline;
 }